$primary-color:grey;
$text-color:white;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);

body{
    background:$primary-color;
    color:$text-color;
    font-weight: map-get($font-weights, bold );
}

.content{
    width:80%;
    margin:0 auto;

    p{
        font-weight: map-get($font-weights, bold );

    }
}
