body{
   display: flex;
   flex-direction: column;
   align-items: center;
   background: url(stars.jpg);
   background-size: cover;

}
.loginBody{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booklogo{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}
#logo{
    width: 8rem;
}
.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0,0,0,0.2);
    width: 370px;
    height:45px;
    
}
.fields input{
    width: 100%;
    height:100%;
}
#loginHeading{
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 3rem;
}

#loginButton{
    margin-top: 1rem;
    width: 100%;
    height:100%;
    
}
.space{
    margin-top:1rem;
}
