* {
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-container-group {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}
.modal-content-group {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 40vw;
    height: 70vh;
}

.close {
    color: black;
    float: right;
    background-color: white;
    padding: 4px;
    font-size: 32px;
}

.close:hover,
.close:focus {
    color: rgb(248, 161, 0);
    cursor: pointer;
    text-decoration: none;
}
